services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: nati8
      POSTGRES_PASSWORD: nati0975329588@babi
      POSTGRES_DB: next
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://nati8:nati0975329588%40babi@db:5432/next
      NODE_ENV: development
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
    depends_on:
      - db

volumes:
  postgres_data:
